.wrapper {
    position: fixed;
    height: var(--default-layout-headermid-height);
    top: var(--default-layout-headertop-height);
    left: 0;
    right: 0;
    // background-color: aqua;
    padding: 0 60px;
    text-transform: uppercase;
    z-index: 1;
    background-color: var(--white-color);
    z-index: 10;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    height: var(--default-layout-headermid-height);
    .logo-link {
        img {
            width: 250px;
            height: 58px;
        }
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;

    .region-price {
        display: flex;
        align-items: center;
    }

    .search {
        font-size: 1.5rem;
        text-transform: capitalize;
    }
}

.region-price {
    display: flex;
    .flag {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .region {
        font-size: 1.4rem;
        text-transform: capitalize;
        font-weight: 700;
    }

    .region-symbol {
        font-size: 1.4rem;
        font-weight: 200;
    }

    .icon-down {
        font-size: 1.4rem;
        margin-left: 4px;
    }
}
