@import 'normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-layout-headertop-height: 50px;
    --default-layout-headermid-height: 100px;
    --default-layout-headernav-height: 42px;
    --default-layout-with: 1169px;
    --black-color: #000;
    --white-color: #fff;
    --font-family: 'museo-sans', sans-serif;
    --font-alternate-gothic: 'alternate-gothic', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

a {
    color: var(--black-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

// Fonts emmbeded
